@import url('https://fonts.googleapis.com/css?family=Indie Flower');
*
{
    font-family: 'Indie Flower', sans-serif;
}
.at
{
    align-content: center;
    align-items: center;
}
.kutu
{
    width: 500px;
    height: 500px;
    background-color: pink;
}
.kutu h1
{
    font-size: 70px;
}